.modal-container {
  max-width: 900px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  margin-top: 5px;
  border: 1px solid #344860;
}
