<div class="container">
  <ul class="menu-nav">
    <li class="menu-nav__item">
      <a class="manu-nav__link">Psy</a>
    </li>
    <li class="menu-nav__item">Koty</li>
    <li class="menu-nav__item">Gryzonie</li>
    <li class="menu-nav__item">Ptaki</li>
    <li class="menu-nav__item">Ptaki</li>
    <li class="menu-nav__item">Akwarystyka</li>
    <li class="menu-nav__item">Gady i płazy</li>
    <li class="menu-nav__item">Konie</li>
    <li class="menu-nav__item">Zwierzęta gospodarskie</li>
    <li class="menu-nav__item">dom</li>
  </ul>
</div>
